/target
.DS_Store
tism-py/lib/python3.14/site-packages
tism-py/bin
tism-py/_tism.c
tism-py/_tism.cpython-314-darwin.so
tism-py/_tism.o
tism-py/pyvenv.cfg
tism-c/tism.o
tism-c/tests
tism-py/__pycache__
